@import "~bootstrap/scss/bootstrap";
@import "custom";

//Custom colors
$dark-blue: rgb(1, 0, 138);

$pic-color-one: rgb(148, 213, 248);
$pic-color-two: rgba(232, 190, 76);
$pic-color-three: rgb(251, 110, 0);

$shadow-color-one: rgba(0, 0, 0, 0.05);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  min-height: 100vh;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  text-decoration: none;
}

main {
  position: relative;
  div {
    position: relative;
  }
}

a {
  text-decoration: none;
}

.brand-h1 {
  letter-spacing: 0.2rem;
}

.centering {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.center {
  align-items: center;
  text-align: center;
  justify-content: center;
}

.text-justify {
  text-align: justify;
  text-justify: inter-word;
  font-weight: 450;
}

.bg-card-color {
  background-color: rgba($pic-color-one, 0.2);
}

//My image design
.myimage {
  border: 0.25rem solid white; //light mode
  border-radius: 1rem;
}

/* Scrollbar effect for project images and window */
.card-img-size {
  padding: 0.5rem;
  height: 18rem;
  overflow: auto;
}

/* scrollbar width */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: $pic-color-one;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $pic-color-three;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $pic-color-two;
}

//custom shadow
.dropshadow {
  border: 1rem;
  box-shadow: inset 20px 20px 20px -15px rgba(0, 0, 0, 0.05),
    25px 35px 20px rgba(0, 0, 0, 0.05), 25px 30px 30px rgba(0, 0, 0, 0.05),
    inset -20px -20px 25px rgba(255, 255, 255, 0.9);
  transition: 0.5s ease-in-out;
}

//custom button design
@mixin btn-blue {
  border: 0.15rem solid $dark-blue; //light mode
  background-color: white; //light mode
  color: $dark-blue; //light mode
  font-weight: 500;
}

.send-btn {
  @include btn-blue();
}

.theme-btn {
  @include btn-blue();
  &:hover {
    background-color: white;
    color: $dark-blue;
    border: 0.15rem solid $dark-blue;
  }
}

//list group items custom
.list-group-item {
  background-color: rgba($pic-color-one, 0.2); //light mode
}

//LIGHT MODE DESIGN

//Nav Bar Design
.navbartop-light {
  background-color: rgba($pic-color-one, 0.75); //light mode
  box-shadow: $box-shadow;
}

.-light {
  background-color: rgba($pic-color-two, 0.5); //light mode
  color: black; //light mode
  //mixin for footer
  @mixin footer-common {
    color: black; //light mode
    font-weight: 600;
  }
  //footer design
  footer {
    @include footer-common;
    text-align: center;
    background-color: rgba($pic-color-three, 0.6); //light mode
    box-shadow: $box-shadow-lg;
    //align footer items to center
    .alignitems {
      display: flex;
      align-items: center;
    }
    //footer anchor
    a {
      @include footer-common;
      letter-spacing: 0.15rem;
    }
    //footer paragraph
    p {
      @include footer-common;
      letter-spacing: 0.15rem;
      //hover over paragraph
      &:hover {
        cursor: pointer;
        text-align: center;
      }
      //icons
      i {
        color: $dark-blue; //light mode
        font-size: 1.5rem;
        letter-spacing: 1rem;
      }
    }
  }
}

//DARK MODE DESIGN

//Nav Bar Design
.navbartop-dark {
  background-color: black; //dark mode
  color: white;
  box-shadow: 0px -10px 22px -12px rgba(255, 255, 255, 0.51) inset;
  -webkit-box-shadow: 0px -10px 22px -12px rgba(255, 255, 255, 0.51) inset;
  -moz-box-shadow: 0px -10px 22px -12px rgba(255, 255, 255, 0.51) inset;
}

.-dark {
  background-color: black;
  color: white;
  //dark mode
  @mixin footer-common-dark {
    color: white; //dark mode
    font-weight: 600;
  }
  //Dark theme card
  .grey-card {
    background-color: $gray-700;
    color: white;
  }
  //footer design
  footer {
    @include footer-common-dark;
    text-align: center;
    box-shadow: 0px 16px 22px -12px rgba(255, 255, 255, 0.51) inset;
    -webkit-box-shadow: 0px 16px 22px -12px rgba(255, 255, 255, 0.51) inset;
    -moz-box-shadow: 0px 16px 22px -12px rgba(255, 255, 255, 0.51) inset;
    //align footer items to center
    .alignitems {
      display: flex;
      align-items: center;
    }
    //footer anchor
    a {
      @include footer-common-dark;
      letter-spacing: 0.15rem;
    }
    //footer paragraph
    p {
      @include footer-common-dark;
      letter-spacing: 0.15rem;
      //hover over paragraph
      &:hover {
        cursor: pointer;
        text-align: center;
      }
      //icons
      i {
        color: white !important; //dark mode
      }
    }
  }
}
