/* make the customizations */
$theme-colors: (
  "dark-blue": rgb(1, 0, 138),
);

$body-bg: rgba(232, 190, 76, 0.5);
// $body-color: red;

// Create your own map
$custom-colors: (
  "custom-color": #900
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);
/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";
