@import "~bootstrap/scss/bootstrap";
@import "custom";

$dark-blue: rgb(1, 0, 138);

$pic-color-one: rgb(148, 213, 248);
$pic-color-two: rgba(232, 190, 76);
$pic-color-three: rgb(251, 110, 0);

$shadow-color-one: rgba(0, 0, 0, 0.05);

$box-shadow: 0 0.5rem 1rem rgba($black, 0.15);
$box-shadow-sm: 0 0.125rem 0.25rem rgba($black, 0.075);
$box-shadow-lg: 0 1rem 3rem rgba($black, 0.175);
$box-shadow-inset: inset 0 1px 2px rgba($black, 0.075);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  min-height: 100vh;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  text-decoration: none;
}

main {
  position: relative;
  div {
    position: relative;
  }
}

a {
  text-decoration: none;
}

@mixin footer-common {
  color: black;
  font-weight: 600;
}

footer {
  @include footer-common;
  text-align: center;
  background-color: rgba($pic-color-three, 0.6);
  box-shadow: $box-shadow-lg;
  .alignitems {
    display: flex;
    align-items: center;
  }

  a {
    @include footer-common;
    letter-spacing: 0.15rem;
  }

  p {
    @include footer-common;
    letter-spacing: 0.15rem;

    &:hover {
      cursor: pointer;
      text-align: center;
    }

    i {
      color: $dark-blue;
      font-size: 1.5rem;
      letter-spacing: 1rem;
    }
  }
}

.navbartop {
  background-color: rgba($pic-color-one, 0.75);
  box-shadow: $box-shadow;
}

.centering {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.center {
  align-items: center;
  text-align: center;
  justify-content: center;
}

.text-justify {
  text-align: justify;
  text-justify: inter-word;
  font-weight: 450;
}

.text-wrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.brand-h1 {
  letter-spacing: 0.2rem;
}

@mixin btn-blue {
  color: $dark-blue;
  background-color: white;
  border: 0.15rem solid $dark-blue;
  font-weight: 500;
}

.send-btn {
  @include btn-blue();
}

.theme-btn {
  @include btn-blue();
}

.myimage {
  border: 0.25rem solid white;
  border-radius: 1rem;
}

.dropshadow {
  border: 1rem;
  box-shadow: inset 20px 20px 20px -15px rgba(0, 0, 0, 0.05),
    25px 35px 20px rgba(0, 0, 0, 0.05), 25px 30px 30px rgba(0, 0, 0, 0.05),
    inset -20px -20px 25px rgba(255, 255, 255, 0.9);
  transition: 0.5s ease-in-out;
}

.list-group-item {
  background-color: rgba($pic-color-one, 0.2);
}

.list-group-item-center {
  @extend .text-justify;
}

.list-group-item-center-shadow {
  box-shadow: $box-shadow;
}

/* Scrollbar effect for project images */
.card-img-size {
  padding: 0.5rem;
  height: 18rem;
  overflow: auto;
}

/* scrollbar width */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: $pic-color-one;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $pic-color-two; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $pic-color-three; 
}
